body{
    background-color:#8fb6a7;
    border: 2px solid white;
    margin: 60px;
    padding: 20px 10px 0px;
    max-width: 900px; 
    
    display: block;
    color: white;
}

.navbar{
    display: block;
    border: 3px;
    padding: 5px;
    background-color: #a7b98f;
}


.banner{
    background-image: url(crinkle.png);
    background-size: cover;
    background-attachment: fixed;
}
.banneroverlay{
    z-index: 10; 
    background-color: rgba(0,0,0,0.5);
}


.items{
    display:flex;
    justify-content:space-evenly;
    list-style-type: none;
}

.location-dot{
    color:white
}

.container{
    border: 400px;

}

#propic{ 
    width: 100px;
    margin: 8px;
    border: 3px solid white;
    border-radius: 100%;
    float: left;
}


.second-container{
    display:block;
    border: 20px;
    background-color:#a7b98f;
    padding: 15px;

    

}

/* Just in case the other button doesn't work!
#button{
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    text-decoration: none;
    text-align: left;
    
}

#button a{
    text-decoration: none;
    color: white;

}*/


.button-56 {
  align-items: center;
  background-color: #8FB6A7;
  border: 2px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: space-between;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration:none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
  text-decoration: none;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #54a7b6;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  text-decoration: none;
}

.images{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.note{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;

}

#css{
    height: 50px;
}

#html{
    height: 50px;
}

#js{
    height:50px;
}

.projects{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
}

#veg{
    height:200px;
    width:80px;
}


#grid{
    height: 200px;
    width: 200px;
}

#card{
    height:200px;
    width:200px;
}

.notes2{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

h2{
   text-align: center;
}

.socials{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    list-style-type: none;
}

.icon{
   color:rgb(14,35,80); 
}

@media (max-width:800px) {
    body {
       font-size:medium;
    }
    .projects{
        flex-direction: column;
    }
    .images{
        flex-direction:column;
    }
}



